{% extends 'base.html.twig' %}

{% block title %}Home - DinoRanking{% endblock %}

{% block body %}
    <div class="container d-flex flex-column justify-content-start align-items-center vh-100 pt-5">

        <h1 class="mb-5 text-dark fw-bold">Bienvenido a Jurassic Stats</h1>

        <div class="row g-4 justify-content-center w-100">
            <div class="col-10 col-md-4">
                <a href="#" class="text-decoration-none"> {# Pon aquí tu ruta de rankings #}
                    <div class="card text-center text-white bg-dark-blue card-hover h-100">
                        <div class="card-body py-5">
                            <img src="{{ asset('images/rankings.png') }}" alt="Rankings" width="64" height="64" class="icon-white mb-3">
                            <h3 class="card-title">Top Rated Dinos</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-md-4">
                <a href="{{ path('app_reviews_latest') }}" class="text-decoration-none">
                    <div class="card text-center text-white bg-green card-hover h-100">
                        <div class="card-body py-5">
                            <img src="{{ asset('images/reviews.png') }}" alt="Reviews" width="64" height="64" class="icon-white mb-3">
                            <h3 class="card-title">Latest Reviews</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br><br>

        <div class="row g-4 justify-content-center w-100">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-10 col-md-4">
                    <a href="{{ path('admin') }}" class="text-decoration-none text-white">
                        <div class="card text-center text-white bg-yellow card-hover h-100">
                            <div class="card-body py-5">
                                <img src="{{ asset('images/admin.png') }}" alt="Admin" width="64" height="64" class="mb-3" style="filter: brightness(0);"> {# Icono negro para fondo amarillo #}
                                <h3 class="card-title text-dark">Admin Area</h3>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="col-10 col-md-4">
                <div class="card text-center text-white bg-blue card-hover h-100">
                    <div class="card-body py-5">
                        <img src="{{ asset('images/stats.png') }}" alt="Stats" width="64" height="64" class="icon-white mb-3">
                        <h3 class="card-title">Global Stats</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
